@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root {
  @apply h-full;
}

body {
  font-family: 'Inter', sans-serif;
  
  
  @apply bg-gray-200 dark:bg-black;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}